* {
    margin: 0;
    font-family: font-family: 'Work Sans', sans-serif;
}

.header {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    margin: 0;
}

.banner {
    margin: 100px 200px;
    display: flex;
    text-align: right;
    align-items: center;
}

.h-block {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    margin-top: 200px;
    margin-right: 240px;
    margin-bottom: 24px;
    margin-left: 500px;
}

.p-block {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-right: 230px;
    margin-bottom: 230px;
    margin-left: 700px;
}

.btn-block {
    height: 64px;
    background-color: #F15B22;
    color: #FFFFFF;
    margin-right: 240px;
    margin-left: 600px;
    margin-bottom: 110px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

/* failure-section */

.middle {
    margin: 0;
}

.pic {
    width: 569px;
    height: 723.3px;
    margin-left: 100px;
    max-width: 569px;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.failure {
    margin-right: 500px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    height: 94px;
}

.f-block {
    margin-right: 450px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    height: 104px;
}

.l-block {
    display: block;
    margin-right: 500px;
    height: 150px;
    font-size: 16px;
    color: #444343;
}

/* plan */

.about-plan {
    padding: 0 200px;

}

.section-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;

}

.skills-container {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.skill-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.skill-description {
    font-size: 25px;
    color: #737272;
    font-weight: 500;
}

/* aim section */
.aim-f {
    background: #151414;
    display: flex;
    gap: 80px;
    text-align: left;
}

.aim-f .sec-title {
    text-align: left;
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px
}

.aim-p {
    padding: 130px 200px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.mail {
    margin-top: 0;
    font-weight: 400;
    font-size: 18px;
    color: #F3F3F3;
}


.btn-p {
    font-weight: 600;
    font-size: 20px;
    margin-top: 16px;
    border-radius: 5px;
    color: #F15B22;
    border: none;
}